In [20]:
# !git clone https://github.com/MindSetLib/MS-InsuranceScoring.git -b InsolverPackage

Cloning into 'MS-InsuranceScoring'...

In [21]:
# !pip install -r MS-InsuranceScoring/requirements.txt

Requirement already satisfied: catboost==0.24.1 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 1)) (0.24.1)
Collecting certifi==2020.6.20
  Downloading certifi-2020.6.20-py2.py3-none-any.whl (156 kB)
Requirement already satisfied: chardet==3.0.4 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 3)) (3.0.4)
Collecting cloudpickle==1.6.0
  Downloading cloudpickle-1.6.0-py3-none-any.whl (23 kB)
Requirement already satisfied: cycler==0.10.0 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 5)) (0.10.0)
Collecting decorator==4.4.2
  Downloading decorator-4.4.2-py2.py3-none-any.whl (9.2 kB)
Requirement already satisfied: future==0.18.2 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 7)) (0.18.2)
Requirement already satisfied: graphviz==0.14.1 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 8)) (0.14.1)
Requirement already satisfied: hyperopt==0.2.4 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 9)) (0.2.4)
Collecting idna==2.10
  Downloading idna-2.10-py2.py3-none-any.whl (58 kB)
Collecting joblib==0.16.0
  Downloading joblib-0.16.0-py3-none-any.whl (300 kB)
Collecting kiwisolver==1.2.0
  Downloading kiwisolver-1.2.0-cp37-none-win_amd64.whl (57 kB)
Requirement already satisfied: lightgbm==3.0.0 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 13)) (3.0.0)
Collecting llvmlite==0.34.0
  Downloading llvmlite-0.34.0-cp37-cp37m-win_amd64.whl (15.9 MB)
Collecting matplotlib==3.3.1
  Downloading matplotlib-3.3.1-1-cp37-cp37m-win_amd64.whl (8.9 MB)
Collecting networkx==2.5
  Downloading networkx-2.5-py3-none-any.whl (1.6 MB)
Collecting numba==0.51.2
  Downloading numba-0.51.2-cp37-cp37m-win_amd64.whl (2.2 MB)
Collecting numpy==1.19.1
  Downloading numpy-1.19.1-cp37-cp37m-win_amd64.whl (12.9 MB)
Collecting pandas==1.1.1
  Downloading pandas-1.1.1-cp37-cp37m-win_amd64.whl (9.4 MB)
Collecting Pillow==7.2.0
  Downloading Pillow-7.2.0-cp37-cp37m-win_amd64.whl (2.1 MB)
Requirement already satisfied: plotly==4.9.0 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 21)) (4.9.0)
Collecting pyodbc==4.0.30
  Downloading pyodbc-4.0.30-cp37-cp37m-win_amd64.whl (67 kB)
Collecting pyparsing==2.4.7
  Downloading pyparsing-2.4.7-py2.py3-none-any.whl (67 kB)
Requirement already satisfied: python-dateutil==2.8.1 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 24)) (2.8.1)
Collecting pytz==2020.1
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
Collecting requests==2.24.0
  Downloading requests-2.24.0-py2.py3-none-any.whl (61 kB)
Requirement already satisfied: requests-cache==0.5.2 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 27)) (0.5.2)
Requirement already satisfied: retrying==1.3.3 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 28)) (1.3.3)
Collecting scikit-learn==0.23.2
  Downloading scikit_learn-0.23.2-cp37-cp37m-win_amd64.whl (6.8 MB)
Collecting scipy==1.5.2
  Downloading scipy-1.5.2-cp37-cp37m-win_amd64.whl (31.2 MB)
Collecting seaborn==0.10.1
  Downloading seaborn-0.10.1-py3-none-any.whl (215 kB)
Requirement already satisfied: shap==0.36.0 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 32)) (0.36.0)
Collecting six==1.15.0
  Downloading six-1.15.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: sklearn==0.0 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 34)) (0.0)
Requirement already satisfied: slicer==0.0.3 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 35)) (0.0.3)
Collecting threadpoolctl==2.1.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Collecting tqdm==4.48.2
  Downloading tqdm-4.48.2-py2.py3-none-any.whl (68 kB)
Collecting urllib3==1.25.10
  Downloading urllib3-1.25.10-py2.py3-none-any.whl (127 kB)
Requirement already satisfied: xgboost==1.2.0 in c:\users\user\anaconda3\lib\site-packages (from -r MS-InsuranceScoring/requirements.txt (line 39)) (1.2.0)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from numba==0.51.2->-r MS-InsuranceScoring/requirements.txt (line 17)) (45.2.0.post20200210)
Installing collected packages: certifi, cloudpickle, decorator, idna, joblib, kiwisolver, llvmlite, pyparsing, Pillow, numpy, matplotlib, networkx, numba, pytz, pandas, pyodbc, urllib3, requests, scipy, threadpoolctl, scikit-learn, seaborn, six, tqdm
  Attempting uninstall: certifi
    Found existing installation: certifi 2019.11.28
    Uninstalling certifi-2019.11.28:
      Successfully uninstalled certifi-2019.11.28
  Attempting uninstall: cloudpickle
    Found existing installation: cloudpickle 1.3.0
    Uninstalling cloudpickle-1.3.0:
      Successfully uninstalled cloudpickle-1.3.0
  Attempting uninstall: decorator
    Found existing installation: decorator 4.4.1
    Uninstalling decorator-4.4.1:
      Successfully uninstalled decorator-4.4.1
  Attempting uninstall: idna
    Found existing installation: idna 2.8
    Uninstalling idna-2.8:
      Successfully uninstalled idna-2.8
  Attempting uninstall: joblib
    Found existing installation: joblib 0.14.1
    Uninstalling joblib-0.14.1:
      Successfully uninstalled joblib-0.14.1
  Attempting uninstall: kiwisolver
    Found existing installation: kiwisolver 1.1.0
    Uninstalling kiwisolver-1.1.0:
      Successfully uninstalled kiwisolver-1.1.0
  Attempting uninstall: llvmlite
    Found existing installation: llvmlite 0.31.0

ERROR: spyder 4.0.1 requires pyqt5<5.13; python_version >= "3", which is not installed.
ERROR: spyder 4.0.1 requires pyqtwebengine<5.13; python_version >= "3", which is not installed.
ERROR: pytest-astropy 0.8.0 requires pytest-cov>=2.0, which is not installed.
ERROR: pytest-astropy 0.8.0 requires pytest-filter-subpackage>=0.1, which is not installed.
ERROR: astroid 2.3.3 requires typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8", which is not installed.
ERROR: Cannot uninstall 'llvmlite'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.

In [33]:
# import sys; sys.path.append('C:\\Users\\User\\MS-InsuranceScoring')

In [69]:
import insolver
from insolver import InsolverMain
from insolver import InsolverDataFrame
from insolver import InsolverTransforms as T

In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('freMPL-R.csv', low_memory=False)

In [114]:
InsDataFrame = InsolverDataFrame.InsolverDataFrame(df)

In [125]:
InsDataFrame.head(7)

,Exposure,LicAge,RecordBeg,RecordEnd,VehAge,Gender,MariStat,SocioCateg,VehUsage,DrivAge,...,ClaimInd,Dataset,DeducType,ClaimNbResp,ClaimNbNonResp,ClaimNbParking,ClaimNbFireTheft,ClaimNbWindscreen,OutUseNb,RiskArea
0,0.583,366,2004-06-01,NaN,2,Female,Other,CSP1,Professional,55,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.200,187,2004-10-19,NaN,0,Male,Alone,CSP55,Private+trip to office,34,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.083,169,2004-07-16,2004-08-16,1,Female,Other,CSP1,Professional,33,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.375,170,2004-08-16,NaN,1,Female,Other,CSP1,Professional,34,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.500,224,2004-01-01,2004-07-01,3,Male,Other,CSP47,Professional,53,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.499,230,2004-07-01,NaN,3,Male,Other,CSP47,Professional,53,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.218,169,2004-01-01,2004-03-20,6-7,Male,Other,CSP50,Private+trip to office,32,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
InsDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343080 entries, 0 to 343079
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Exposure           343080 non-null  float64
 1   LicAge             343080 non-null  int64
 2   RecordBeg          343080 non-null  object
 3   RecordEnd          181115 non-null  object
 4   VehAge             177880 non-null  object
 5   Gender             343080 non-null  object
 6   MariStat           343080 non-null  object
 7   SocioCateg         343080 non-null  object
 8   VehUsage           343080 non-null  object
 9   DrivAge            343080 non-null  int64
 10  HasKmLimit         343080 non-null  int64
 11  BonusMalus         343080 non-null  int64
 12  VehBody            145780 non-null  object
 13  VehPrice           145780 non-null  object
 14  VehEngine          145780 non-null  object
 15  VehEnergy          145780 non-null  object
 16  VehMaxSpeed        145780 non-null  object
 17  VehClass           145780 non-null  object
 18  ClaimAmount        343080 non-null  float64
 19  RiskVar            145780 non-null  float64
 20  Garage             145780 non-null  object
 21  ClaimInd           343080 non-null  int64
 22  Dataset            343080 non-null  int64
 23  DeducType          66890 non-null   object
 24  ClaimNbResp        197300 non-null  float64
 25  ClaimNbNonResp     197300 non-null  float64
 26  ClaimNbParking     197300 non-null  float64
 27  ClaimNbFireTheft   197300 non-null  float64
 28  ClaimNbWindscreen  197300 non-null  float64
 29  OutUseNb           197300 non-null  float64
 30  RiskArea           197300 non-null  float64
dtypes: float64(10), int64(6), object(15)
memory usage: 81.1+ MB

In [117]:
InsDataFrame.get_meta_info()

{'type': 'InsolverDataFrame',
 'columns': Index(['Exposure', 'LicAge', 'RecordBeg', 'RecordEnd', 'VehAge', 'Gender',
        'MariStat', 'SocioCateg', 'VehUsage', 'DrivAge', 'HasKmLimit',
        'BonusMalus', 'VehBody', 'VehPrice', 'VehEngine', 'VehEnergy',
        'VehMaxSpeed', 'VehClass', 'ClaimAmount', 'RiskVar', 'Garage',
        'ClaimInd', 'Dataset', 'DeducType', 'ClaimNbResp', 'ClaimNbNonResp',
        'ClaimNbParking', 'ClaimNbFireTheft', 'ClaimNbWindscreen', 'OutUseNb',
        'RiskArea'],
       dtype='object'),
 'len': 343080}

In [118]:
@staticmethod
def exp_new(exp, exp_max):
    if pd.isnull(exp):
        exp = None
    elif exp < 0:
        exp = None
    else:
        exp = exp * 7 // 365
    if exp > exp_max:
        exp = exp_max
    return exp

T.TransformExp._exp = exp_new

In [119]:
class TransformSocioCateg(T.InsolverTransformMain):
    def __init__(self, column_socio_categ):
        self.priority = 0
        super().__init__()
        self.column_socio_categ = column_socio_categ

    def __call__(self, df):
        df[self.column_socio_categ] = df[self.column_socio_categ].str.slice(0,4)
        return df

In [120]:
class TransformToNumeric(T.InsolverTransformMain):
    def __init__(self, column_param, downcast='integer'):
        self.priority = 0
        super().__init__()
        self.column_param = column_param
        self.downcast = downcast

    def __call__(self, df):
        df[self.column_param] = pd.to_numeric(df[self.column_param], downcast=self.downcast)
        return df

In [126]:
InsTransforms = T.InsolverTransforms(InsDataFrame.get_data(), [
    T.TransformAge('DrivAge', 18, 75),
    T.TransformExp('LicAge', 57),
    T.TransformMapValues('Gender', {'Male':0, 'Female':1}),
    T.TransformMapValues('MariStat', {'Other':0, 'Alone':1}),
    TransformSocioCateg('SocioCateg'),
    T.TransformAgeGender('DrivAge', 'Gender', 'Age_m', 'Age_f', age_default=18, gender_male=0, gender_female=1),
    T.TransformPolynomizer('Age_m'),
    T.TransformPolynomizer('Age_f'),
    # TransformToNumeric('VehAge'),
    # T.TransformVehAge('VehAge', 20),
    ])

In [132]:
InsTransforms.transforms

[<insolver.InsolverTransforms.TransformAge at 0x1fc387eb908>,
 <insolver.InsolverTransforms.TransformExp at 0x1fc387eba48>,
 <insolver.InsolverTransforms.TransformMapValues at 0x1fc387ebd08>,
 <insolver.InsolverTransforms.TransformMapValues at 0x1fc357a0788>,
 <__main__.TransformSocioCateg at 0x1fc357a0f08>,
 <insolver.InsolverTransforms.TransformAgeGender at 0x1fc357a0a48>,
 <insolver.InsolverTransforms.TransformPolynomizer at 0x1fc357a07c8>,
 <insolver.InsolverTransforms.TransformPolynomizer at 0x1fc357a0dc8>]

In [127]:
InsTransforms.transform()

['TransformSocioCateg',
 'TransformAge',
 'TransformExp',
 'TransformMapValues',
 'TransformMapValues',
 'TransformAgeGender',
 'TransformPolynomizer',
 'TransformPolynomizer']

In [130]:
InsTransforms.head(7)

,Exposure,LicAge,RecordBeg,RecordEnd,VehAge,Gender,MariStat,SocioCateg,VehUsage,DrivAge,...,ClaimNbNonResp,ClaimNbParking,ClaimNbFireTheft,ClaimNbWindscreen,OutUseNb,RiskArea,Age_m,Age_f,Age_m_2,Age_f_2
0,0.583,7,2004-06-01,NaN,2,1,0,CSP1,Professional,55,...,NaN,NaN,NaN,NaN,NaN,NaN,18,55,324,3025
1,0.200,3,2004-10-19,NaN,0,0,1,CSP5,Private+trip to office,34,...,NaN,NaN,NaN,NaN,NaN,NaN,34,18,1156,324
2,0.083,3,2004-07-16,2004-08-16,1,1,0,CSP1,Professional,33,...,NaN,NaN,NaN,NaN,NaN,NaN,18,33,324,1089
3,0.375,3,2004-08-16,NaN,1,1,0,CSP1,Professional,34,...,NaN,NaN,NaN,NaN,NaN,NaN,18,34,324,1156
4,0.500,4,2004-01-01,2004-07-01,3,0,0,CSP4,Professional,53,...,NaN,NaN,NaN,NaN,NaN,NaN,53,18,2809,324
5,0.499,4,2004-07-01,NaN,3,0,0,CSP4,Professional,53,...,NaN,NaN,NaN,NaN,NaN,NaN,53,18,2809,324
6,0.218,3,2004-01-01,2004-03-20,6-7,0,0,CSP5,Private+trip to office,32,...,NaN,NaN,NaN,NaN,NaN,NaN,32,18,1024,324

In [129]:
InsTransforms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343080 entries, 0 to 343079
Data columns (total 35 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Exposure           343080 non-null  float64
 1   LicAge             343080 non-null  int64
 2   RecordBeg          343080 non-null  object
 3   RecordEnd          181115 non-null  object
 4   VehAge             177880 non-null  object
 5   Gender             343080 non-null  int64
 6   MariStat           343080 non-null  int64
 7   SocioCateg         343080 non-null  object
 8   VehUsage           343080 non-null  object
 9   DrivAge            343080 non-null  int64
 10  HasKmLimit         343080 non-null  int64
 11  BonusMalus         343080 non-null  int64
 12  VehBody            145780 non-null  object
 13  VehPrice           145780 non-null  object
 14  VehEngine          145780 non-null  object
 15  VehEnergy          145780 non-null  object
 16  VehMaxSpeed        145780 non-null  object
 17  VehClass           145780 non-null  object
 18  ClaimAmount        343080 non-null  float64
 19  RiskVar            145780 non-null  float64
 20  Garage             145780 non-null  object
 21  ClaimInd           343080 non-null  int64
 22  Dataset            343080 non-null  int64
 23  DeducType          66890 non-null   object
 24  ClaimNbResp        197300 non-null  float64
 25  ClaimNbNonResp     197300 non-null  float64
 26  ClaimNbParking     197300 non-null  float64
 27  ClaimNbFireTheft   197300 non-null  float64
 28  ClaimNbWindscreen  197300 non-null  float64
 29  OutUseNb           197300 non-null  float64
 30  RiskArea           197300 non-null  float64
 31  Age_m              343080 non-null  int64
 32  Age_f              343080 non-null  int64
 33  Age_m_2            343080 non-null  int64
 34  Age_f_2            343080 non-null  int64
dtypes: float64(10), int64(12), object(13)
memory usage: 91.6+ MB

In [131]:
InsTransforms.get_meta_info()

{'type': 'InsolverDataFrame',
 'columns': Index(['Exposure', 'LicAge', 'RecordBeg', 'RecordEnd', 'VehAge', 'Gender',
        'MariStat', 'SocioCateg', 'VehUsage', 'DrivAge', 'HasKmLimit',
        'BonusMalus', 'VehBody', 'VehPrice', 'VehEngine', 'VehEnergy',
        'VehMaxSpeed', 'VehClass', 'ClaimAmount', 'RiskVar', 'Garage',
        'ClaimInd', 'Dataset', 'DeducType', 'ClaimNbResp', 'ClaimNbNonResp',
        'ClaimNbParking', 'ClaimNbFireTheft', 'ClaimNbWindscreen', 'OutUseNb',
        'RiskArea', 'Age_m', 'Age_f', 'Age_m_2', 'Age_f_2'],
       dtype='object'),
 'len': 343080}

In [ ]:
InsTransforms.get_data()